<div class="card border-0 shadow-sm rounded-4 text-center p-3 product-card"  routerLink="/product/{{product.id}}">
  <img [src]="product.images[0]" [alt]="product.title" 
       class="w-100 mb-3 rounded-3 object-fit-cover" style="height: 200px;" />

  <h3 class="h6 fw-semibold text-dark mb-2">{{ product.title }}</h3>

  <div class="d-flex justify-content-center align-items-center mb-2 fs-6 text-warning rating">
    @for (star of starsArray; track star) {
      <span [class.filled]="star <= Math.floor(product?.rating)">★</span>
    }
    <small class="text-muted ms-1">({{ product.rating }})</small>
  </div>

  <div class="fs-6 price">
    <span class="fw-bold text-dark">${{ (product.price * (100 - product.discountPercentage) / 100) | number:'1.2-2' }}</span>

      <span class="text-decoration-line-through text-muted ms-2">
        {{ product.price }}
      </span>

    @if (product.discountPercentage) {
      <span class="text-danger fw-semibold ms-2">-{{ product.discountPercentage }}%</span>
    }
  </div>
</div>
