<footer class="container-fluid bg-light mt-auto position-relative">
    <div class=" container contact bg-dark position-relative rounded-3" style="margin-top: -80px; margin-bottom: 30px;transform: translateY(-50px);">
        <div class="bg-dark text-white rounded-4 p-5 d-flex flex-column flex-lg-row align-items-center justify-content-between gap-4 shadow">
                <h3 class="fs-2 col-6 fw-bold">
                    STAY UPTO DATE ABOUT OUR LATEST OFFERS
                </h3>
                <div class="form col-6 d-flex flex-column align-items-center ">
                    <div class="input-icon position-relative">
                        <i class="fa-solid fa-envelope border-0 mail position-absolute"></i>
                        <input type="email" placeholder="Enter your email address"class="rounded-5 mb-4 ps-5"style="height: 50px;width: 300px;">
                    </div>
                    <button class="btn btn-light rounded-5 px-4 fw-semibold"style="height: 50px;width: 300px;">Subscribe to Newsletter</button>
                </div>
            </div>
    </div>
    <div class="container d-flex flex-wrap">
        <div class="one col-lg-4 col-md-12 g-2 p-2">
            <h3 class="fs-2 fw-bold">SHOP.CO</h3>
            <p class="w-50 mt-4 mb-4 ">We have clothes that suits your style and which you’re proud to wear.
                From women to men</p>
                <div class="social">
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-github"></i>
                </div>
        </div>
        <div class="two col-lg-2 col-md-6 col-6 mb-4">
            <h6 class="pb-4">COMPANY</h6>
            <ul class="list-unstyled">
                <li class="pb-3">About</li>
                <li class="pb-3">Features</li>
                <li class="pb-3">Works</li>
                <li class="pb-3">Career</li>
            </ul>
        </div>
        <div class="three col-lg-2 col-md-6 col-6 mb-4">
            <h6 class="pb-4">HELP</h6>
            <ul class="list-unstyled">
                <li class="pb-3">Customer Support</li>
                <li class="pb-3">Delivery Details</li>
                <li class="pb-3">Terms & Conditions</li>
                <li class="pb-3">Privacy Policy</li>
            </ul>
        </div>
        <div class="four col-lg-2 col-md-6 col-6 mb-4">
            <h6 class="pb-4">FAQ</h6>
            <ul class="list-unstyled">
                <li class="pb-3">Account</li>
                <li class="pb-3">Manage Deliveries</li>
                <li class="pb-3">Orders</li>
                <li class="pb-3">Payments</li>
            </ul>
        </div>
        <div class="five  col-lg-2 col-md-6 col-6 mb-4">
            <h6 class="pb-4">RESOURCES</h6>
            <ul class="list-unstyled">
                <li class="pb-3">About</li>
                <li class="pb-3">Features</li>
                <li class="pb-3">Works</li>
                <li class="pb-3">Career</li>
            </ul>
        </div>
    </div>
    <hr class="container ">
    <div class="rights container d-flex flex-wrap justify-content-between align-items-center py-3 ">
        <p class="container col-lg-6 col-md-12">Shop.co © 2000-2023, All Rights Reserved</p>
            <div class="payment-icons d-flex gap-3">
                <img src="VISA.png" alt="Visa">
                <img src="mastercard.png" alt="MasterCard">
                <img src="payPal.png" alt="PayPal">
                <img src="applePay.png" alt="Apple Pay">
                <img src="GooglePay.png" alt="Google Pay">
            </div>
    </div>
</footer>
