::placeholder{
    padding: 7px;
}
.mail{
    left: 10px;
    top: 12px;
    color: #00000079;
}
i{
    width: 28px;
    height: 28px;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 5px;
    margin-left: 8px;
}
i:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
li,
p{
    color: #00000079;
}
img {
    width: 70px;
    height: 30px;
    cursor: pointer;
}
